@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.slider-1 {
    background: url('../../../../src/assets/slider/sld-2.jpg') no-repeat;
    min-height: 900px;
    display: block;
}
.slider-2 {
    background: url('../../../../src/assets/slider/sld-1.jpg') no-repeat;
    min-height: 900px;
    display: block;
}

.slider-active:hover button {
    opacity: 1;
    visibility: visible;
}

.slick-arrowaction {
    background: #fff;
    border: 0;
    border-radius: 50%;
    color: #10111e;
    cursor: pointer;
    font-size: 16px;
    height: 80px;
    line-height: 80px;
    /* opacity: 0; */
    padding: 0;
    position: absolute;
    top: 50%;
    /* -webkit-transform: translateY(-50%);
    transform: translateY(-50%); */
    width: 80px;
    z-index: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.slick-arrowaction:hover {
    background: #e12454;
    opacity: 0.95;
}

.slick-arrowaction:hover .ic-left::before,
.slick-arrowaction:hover .ic-right::before
{
    color: #fff;
}


.slick-slider:hover .slick-arr-left,
.slick-slider:hover .slick-arr-right
{
    opacity: 1;
    transition: all 0.3s linear;
}

.slick-slider:hover .slick-arr-left {
    left: 20px;
}
.slick-slider:hover .slick-arr-right {
    right: 20px;
}

.slick-arr-left,
.slick-arr-right
{
    opacity: 0;
    transition: all 0.3s linear;
}

.slick-arr-left {
    left: 100px;
}
.slick-arr-right {
    right: 100px;
}


.slick-prev:before,
.slick-next:before
{
    display: none;
}

.slick-arrowaction .ic-right::before {
    content: '\f061';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}
.slick-arrowaction .ic-left::before {
    content: '\f060';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.slick-arrowaction .ic-left::before,
.slick-arrowaction .ic-right::before
 {
    font-size: 17px;
    line-height: 1;
    opacity: 1;
    color: #10111e;
    left: 41%;
    position: absolute;
    top: 39%;
}

/* caption slider */

.hero-slide-caption h5{
    color: #647589;
    font-family: Rubik,sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px
}

.hero-slide-caption h1 {
    color: #223645;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 0;
    font-size: 80px;
    letter-spacing: -2.3px;
    margin-bottom: 20px;
}

.hero-slide-caption p {
    color: #647589;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}

.btn-icon {
    background-color: #e12454;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(225,36,84,.2);
    padding: 24px 50px 22px 84px;
}

.btn-icon:hover {
    background-color: #8fb569;
    color: #fff !important;
}
.primary_btn:hover {
    background-color: #8fb569;
    color: #fff !important;
}

.btn-icon span {
    background: #fff;
    border-radius: 100%;
    color: #223645;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    left: 5px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 5px;
    transition: .3s;
    width: 50px;
}



.play-btn:hover {
    background-color: #e12454;
    box-shadow: 0 8px 16px 0 rgba(225,36,84,.2);
    color: #fff;
}

.play-btn {
    background-color: #8fb569;
    border: none;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(125,178,73,.2);
    color: #fff;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 27px;
    padding-left: 3px;
    text-align: center;
    width: 60px;
}

.slick-active .hero-slide-caption h1
{
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp2;
    animation-name: fadeInUp2;
}
.slick-active .hero-slide-caption h5
{
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp2;
    animation-name: fadeInUp2;
}
.slick-active .hero-slide-caption p
{
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp2;
    animation-name: fadeInUp2;
}
.slick-active .hero-slider-btn
 {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp2;
    animation-name: fadeInUp2;
}

@keyframes fadeInUp2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}






