.pb-90 {
  padding-bottom: 90px;
}

.pt-120 {
  padding-top: 120px;
}

.facalty-text p {
  line-height: 26px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.back-icon-right {
  left: inherit !important;
  margin: inherit;
}

.section-text-small h5 {
  color: #e12454;
  text-transform: uppercase;
}

.section-title h5 {
  margin-bottom: 28px;
}

.section-text-small h1 {
  font-size: 50px;
  color: #223645;
}

.section-title h1 {
  line-height: 1.2;
  margin-bottom: 18px;
}

.service-content > h3 > a {
  color: black;
}

.service-content > h3 > a:hover {
  color: green;
}
