.sectionImg {
  max-width: 100%;
  margin-bottom: 55px;
}

.container .contentLeft .heading h1 {
  color: #223645;
  font-weight: 600;
  font-size: 45px;
}

.container .contentLeft .heading h5 {
  color: #8fb569;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.container .contentLeft .sectionLine {
  margin-bottom: 50px;

}

.container .contentLeft .download-box {
  border: 2px solid #e0e9ff;
  display: inline-block;
  padding: 18px 48px;
  width: 100%;
  margin-bottom: 20px;
}

.container .contentLeft .download-box .boxItem img {
  float: left;
  margin-right: 20px;
}

.container .contentLeft .download-box .boxItem .link {
  color: #223645;
  display: inline-block;
  font-weight: 500;
  margin-top: 12px;
  font-size: 16px;
}

.container .contentLeft .download-box .boxItem .link:hover {
  color: #E12456;
  
}

.container .contentLeft .download-box .boxItem .data {
  color: #647589;
  float: right;
  font-weight: 400;
  margin-top: 12px;

}
