.testi-box {
  position: relative;
  text-align: center;
  margin-bottom: 0 !important;

  .testi-content {
    position: relative;

    .testi-quato-icon {
      display: inline-block;
      background-color: #e12454;
      border-radius: 50%;
      box-shadow: 0 16px 32px 0 rgba(225, 36, 84, 0.4);
      height: 80px;
      line-height: 80px;
      margin-bottom: 45px;
      margin-top: 32px;
      text-align: center;
      transition: 0.4s;
      width: 80px;
    }
    p{
        padding: 0 10px;
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 120px;
        color: #647589;
        font-weight: 400;
    }
    span{
        background: #e12454;
        bottom: -91px;
        height: 70px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 2px;
    }
  }
  .testi-author {
    .testi-author-title{
        font-size: 28px;
        color: #223645;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        line-height: 1.1;
        margin-top: 0;
    }
    .testi-author-desination{
        color: #8fb569;
        display: block;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    .test-author-icon{
        background-color: #e7e7e7;
        border-radius: 50%;
        box-shadow: 0 8px 16px 0 rgba(71,71,71,.2);
        display: inline-block;
        margin-bottom: 10px;

        img{
            max-width: 100%;
            transition: all .3s ease-out 0s;
            vertical-align: middle;
        }
    }
  }
}
