//Background


.cta-area-trust-us::before{
    background-color: rgba(19,35,47,.94);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.cta-area-trust-us{
    background: url(../../../../img/trust-us/background.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 120px;
    padding-top: 115px;

    .cta-text-trust-us{
        text-align: center;

        .section-title{
            position: relative;
            margin-bottom: 50px;

            .section-text{
                position: relative;
                color: white !important;

                h5{
                    color: #899dab;
                    margin-bottom: 28px;
                }

                h1{
                    font-size: 60px;
                    letter-spacing: -.3px;
                    line-height: 1.2;
                    margin-bottom: 18px;
                }
            }
        }

        .section-button{
            .btn-icon-green{
                background-color: #8fb569;
                box-shadow: 0 8px 16px 0 hsla(90,34%,56%,.3);
                border-radius: 30px;
                border: none;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 1;
                margin-bottom: 0;
                padding: 24px 40px;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                touch-action: manipulation;
                transition: all .3s ease 0s;
                -moz-user-select: none;
                vertical-align: middle;
                white-space: nowrap;

                &:hover{
                    background-color: #e12454;
                }

                span{
                    background: #fff;
                    border-radius: 100%;
                    color: #223645;
                    font-size: 20px;
                    font-weight: 600;
                    height: 50px;
                    left: 5px;
                    line-height: 50px;
                    position: absolute;
                    text-align: center;
                    top: 5px;
                    transition: .3s;
                    width: 50px;
                    margin-right: 200px;
                }
            }
            .btn-icon{
                padding: 24px 50px 22px 84px;
            }
        }
    }
}

//Responsive section trustUs
@media (min-width: 768px) and (max-width: 991px){
    .cta-area-trust-us{
        .cta-text-trust-us{
            .section-title{
                .section-text{
                    h1{
                        font-size: 53px;
                    }
                    
                }
            }
        }
    }
} 

@media (max-width: 767px){
    .cta-area-trust-us{
        .cta-text-trust-us{
            .section-title{
                .section-text{

                    h1{
                        font-size: 32px;
                    }
                }
            }
        }
    }
}