@media (max-width: 767px) {
  .breadcrumb-bg {
    padding-bottom: 150px;
    padding-top: 130px;
  }
}

.breadcrumb-bg {
  background-position: 50%;
  background-size: cover;
}

.page_header_bg {
  background: url('https://medi-dove.netlify.app/static/media/page-bg.19c1fbc541073bd8ef07.jpg');
  background-repeat: no-repeat;
}

.pb-180 {
  padding-bottom: 180px;
}

.pt-200 {
  padding-top: 200px;
}
