.latest-news-area{
    padding-bottom: 20px;
    padding-top: 115px;

    .section-new-title{
        position: relative;
        margin-bottom: 75px;

        .section-new-icon{

            .section-back-icon{
                margin: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: -50px;
            }
        }

        .section-new-text{
            position: relative;

            h5{
                margin-bottom: 25px;
                color: #647589;
                font-family: Rubik,sans-serif;
                font-size: 18px;
                font-weight: 500;
            }

            h1{
                line-height: 1.2;
                margin-bottom: 18px;
                font-size: 60px;
                letter-spacing: -.3px;
                color: #223645;
                font-family: Poppins,sans-serif;
                font-weight: 600;
            }


        }

        .section-new-inline{
            position: relative;
        }
    }

    .section-new-button{
        padding-top: 80px;
        text-align: right;

        .btn-new-icon{
            background-color: #e12454;
            border-radius: 30px;
            box-shadow: 0 8px 16px 0 rgba(225,36,84,.2);
            padding: 24px 50px 22px 84px;
            border: none;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 1;
            margin-bottom: 0;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            touch-action: manipulation;
            transition: all .3s ease 0s;
            vertical-align: middle;
            white-space: nowrap;

            &:hover{
                background: #8fb569;
            }

            span{
                background: #fff;
                border-radius: 100%;
                color: #223645;
                font-size: 20px;
                font-weight: 600;
                height: 50px;
                left: 5px;
                line-height: 50px;
                position: absolute;
                text-align: center;
                top: 5px;
                transition: .3s;
                width: 50px;
            }
        }
    }

    .latest-news-box{
        margin-bottom: 30px;

        .latest-news-thumb{
            margin-bottom: 35px;

        }

        .latest-news-content{

            .news-meta{
                margin-bottom: 10px;
                span{
                    font-size: 13px;
                    margin-right: 25px;
                    text-transform: uppercase;

                    .news-tag{
                        color: #e12454;
                        font-weight: 500;
                        letter-spacing: 2px;
                    }
                }
            }
            h3{
                font-size: 22px;
                line-height: 1.3;
                margin-bottom: 19px;
                letter-spacing: -.3px;

                a{
                    color:#10111e;
                    text-decoration: none;
                    outline: medium none;

                    &:hover{
                        color: #e12454;
                    }
                }
            }
            p{
                color: #647589;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 15px;
            }
        }
    }

    .recent-news-list{
        border: 2px solid #eae7ff;
        padding: 41px 41px 40px;
        margin-bottom: 120px;
        .latest-news-content{
            border-bottom: 2px solid #e3ecf2;
            margin-bottom: 31px;
            padding-bottom: 31px;

            h3{
                font-size: 22px;
                line-height: 1.3;
                margin-bottom: 19px;
                
                a{
                    color:#10111e;
                    text-decoration: none;
                    outline: medium none;

                    &:hover{
                        color: #e12454;
                    }
                }
            }

            .meta-date{
                margin-right: 29px;

                i{
                    margin-right: 5px;
                    .fa-calendar:before {
                        content: "\f133";
                    }
                }
            }
        }

    }
    .mk-call-btn{
        float: right;
        margin-bottom: 30px;

        .btn-call-green{
            background-color: #8fb569;
            box-shadow: 0 8px 16px 0 hsla(90,34%,56%,.3);
            border-radius: 30px;
            padding: 24px 50px 22px 84px;
            border: none;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 1;
            margin-bottom: 0;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            touch-action: manipulation;
            transition: all .3s ease 0s;
            -moz-user-select: none;
            vertical-align: middle;
            white-space: nowrap;

            &:hover{
                background: #e12454;
            }
        }
    }
}


//responsive section news
@media (min-width: 1200px) {
    .container{
        max-width:1200px
    }
  }
@media (min-width: 992px) and (max-width: 1200px){
    .latest-news-area{
    
        .section-new-title{
    
            .section-new-text{
    
                h1{
                    font-size: 45px !important;
                }
            }
        }

        .latest-news-box{

            .latest-news-thumb{
                img{
                    width: 100% !important;
                }
            }

            .latest-news-content{
                padding-right: 79px;

                .news-meta{

                    span{
                        margin-right: 10px;
                    }
                }
            }
        }

        .recent-news-list{
            .latest-news-content{
                padding-right: 79px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .latest-news-area{

        .section-new-title{

            .section-new-text{

                h1{
                    font-size: 40px;
                }
            }
        }

        .section-new-button{
            display: none !important;
        }

        .latest-news-box{

            .latest-news-thumb{
                img{
                    width: 100% !important;
                }
            }

            .latest-news-content{

                .news-meta{

                    span{
                        margin-right: 10px;
                    }
                }
            }
        }

        .mk-call-btn{
            display: none !important;
        }
    }
}

@media (max-width: 767px){
    .latest-news-area{

        .section-new-title{

            .section-new-text{

                h1{
                    font-size: 32px;
                }
            }
        }

        .section-new-button{
            display: none !important;
        }

        .latest-news-box{

            .latest-news-thumb{
                img{
                    width: 100% !important;
                }
            }

            .latest-news-content{

                .news-meta{

                    span{
                        margin-right: 10px;
                    }
                }
            }
            
        }
        .mk-call-btn{
            display: none !important;
        }
    } 
}