.latest-news-area {
  padding-bottom: 20px;
  padding-top: 115px;
}
.latest-news-area .section-new-title {
  position: relative;
  margin-bottom: 75px;
}
.latest-news-area .section-new-title .section-new-icon .section-back-icon {
  margin: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: -50px;
}
.latest-news-area .section-new-title .section-new-text {
  position: relative;
}
.latest-news-area .section-new-title .section-new-text h5 {
  margin-bottom: 25px;
  color: #647589;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.latest-news-area .section-new-title .section-new-text h1 {
  line-height: 1.2;
  margin-bottom: 18px;
  font-size: 60px;
  letter-spacing: -0.3px;
  color: #223645;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.latest-news-area .section-new-title .section-new-inline {
  position: relative;
}
.latest-news-area .section-new-button {
  padding-top: 80px;
  text-align: right;
}
.latest-news-area .section-new-button .btn-new-icon {
  background-color: #e12454;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(225, 36, 84, 0.2);
  padding: 24px 50px 22px 84px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
}
.latest-news-area .section-new-button .btn-new-icon:hover {
  background: #8fb569;
}
.latest-news-area .section-new-button .btn-new-icon span {
  background: #fff;
  border-radius: 100%;
  color: #223645;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  left: 5px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 5px;
  transition: 0.3s;
  width: 50px;
}
.latest-news-area .latest-news-box {
  margin-bottom: 30px;
}
.latest-news-area .latest-news-box .latest-news-thumb {
  margin-bottom: 35px;
}
.latest-news-area .latest-news-box .latest-news-content .news-meta {
  margin-bottom: 10px;
}
.latest-news-area .latest-news-box .latest-news-content .news-meta span {
  font-size: 13px;
  margin-right: 25px;
  text-transform: uppercase;
}
.latest-news-area .latest-news-box .latest-news-content .news-meta span .news-tag {
  color: #e12454;
  font-weight: 500;
  letter-spacing: 2px;
}
.latest-news-area .latest-news-box .latest-news-content h3 {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 19px;
  letter-spacing: -0.3px;
}
.latest-news-area .latest-news-box .latest-news-content h3 a {
  color: #10111e;
  text-decoration: none;
  outline: medium none;
}
.latest-news-area .latest-news-box .latest-news-content h3 a:hover {
  color: #e12454;
}
.latest-news-area .latest-news-box .latest-news-content p {
  color: #647589;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}
.latest-news-area .recent-news-list {
  border: 2px solid #eae7ff;
  padding: 41px 41px 40px;
  margin-bottom: 120px;
}
.latest-news-area .recent-news-list .latest-news-content {
  border-bottom: 2px solid #e3ecf2;
  margin-bottom: 31px;
  padding-bottom: 31px;
}
.latest-news-area .recent-news-list .latest-news-content h3 {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 19px;
}
.latest-news-area .recent-news-list .latest-news-content h3 a {
  color: #10111e;
  text-decoration: none;
  outline: medium none;
}
.latest-news-area .recent-news-list .latest-news-content h3 a:hover {
  color: #e12454;
}
.latest-news-area .recent-news-list .latest-news-content .meta-date {
  margin-right: 29px;
}
.latest-news-area .recent-news-list .latest-news-content .meta-date i {
  margin-right: 5px;
}
.latest-news-area .recent-news-list .latest-news-content .meta-date i .fa-calendar:before {
  content: "\f133";
}
.latest-news-area .mk-call-btn {
  float: right;
  margin-bottom: 30px;
}
.latest-news-area .mk-call-btn .btn-call-green {
  background-color: #8fb569;
  box-shadow: 0 8px 16px 0 hsla(90, 34%, 56%, 0.3);
  border-radius: 30px;
  padding: 24px 50px 22px 84px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  -moz-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.latest-news-area .mk-call-btn .btn-call-green:hover {
  background: #e12454;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .latest-news-area .section-new-title .section-new-text h1 {
    font-size: 45px !important;
  }
  .latest-news-area .latest-news-box .latest-news-thumb img {
    width: 100% !important;
  }
  .latest-news-area .latest-news-box .latest-news-content {
    padding-right: 79px;
  }
  .latest-news-area .latest-news-box .latest-news-content .news-meta span {
    margin-right: 10px;
  }
  .latest-news-area .recent-news-list .latest-news-content {
    padding-right: 79px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .latest-news-area .section-new-title .section-new-text h1 {
    font-size: 40px;
  }
  .latest-news-area .section-new-button {
    display: none !important;
  }
  .latest-news-area .latest-news-box .latest-news-thumb img {
    width: 100% !important;
  }
  .latest-news-area .latest-news-box .latest-news-content .news-meta span {
    margin-right: 10px;
  }
  .latest-news-area .mk-call-btn {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .latest-news-area .section-new-title .section-new-text h1 {
    font-size: 32px;
  }
  .latest-news-area .section-new-button {
    display: none !important;
  }
  .latest-news-area .latest-news-box .latest-news-thumb img {
    width: 100% !important;
  }
  .latest-news-area .latest-news-box .latest-news-content .news-meta span {
    margin-right: 10px;
  }
  .latest-news-area .mk-call-btn {
    display: none !important;
  }
}/*# sourceMappingURL=New.css.map */
