.more-service-widget {
  background-color: #fff;
  border-top: 6px solid #8fb569;
  box-shadow: 0 8px 16px 0 rgba(200, 183, 255, 0.2);
  padding: 41px 50px 50px;
  margin-bottom: 50px;
}
.more-service-widget .widget-title-box {
  margin-bottom: 30px;
}
.more-service-widget .widget-title-box .widget-title {
  color: #223645;
  font-size: 40px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}
.more-service-widget .more-service-list {
  margin: 0;
  padding: 0;
}
.more-service-widget .more-service-list .ul-more-service li a {
  align-items: center;
  border-bottom: 2px solid #f2edff;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.more-service-widget .more-service-list .ul-more-service li a .more-service-icon {
  width: 50px;
}
.more-service-widget .more-service-list .ul-more-service li a .more-service-icon img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}
.more-service-widget .more-service-list .ul-more-service li a .more-service-title {
  color: #223645;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 20px;
  text-transform: uppercase;
  transition: 0.4s;
}
.more-service-widget .more-service-list .ul-more-service li:last-child a {
  border-bottom: 0 !important;
}
.more-service-widget .service-contact-form .contact-input {
  position: relative;
  margin-bottom: 20px;
}
.more-service-widget .service-contact-form .contact-input input {
  border: 2px solid #f0f8ff;
  color: #647589;
  font-weight: 400;
  height: 60px;
  padding: 0 0 0 40px;
  width: 100%;
}
.more-service-widget .service-contact-form .contact-input .select-style {
  padding-left: 40px;
  border: 2px solid #eee7ff;
  color: #647589;
  font-size: 14px;
  height: 70px;
  margin-bottom: 15px;
}
.more-service-widget .service-contact-form .contact-input:before {
  color: #8fb569;
  content: "";
  display: inline-block;
  font-family: Font Awesome\ 5 Free;
  font-size: 14px;
  left: 30px;
  position: absolute;
  top: 20px;
  z-index: 99;
}
.more-service-widget .service-contact-form .contact-input:after {
  color: #e12454;
  content: "";
  display: inline-block;
  font-family: Font Awesome\ 5 Free;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 18px;
}
.more-service-widget .service-form-btn {
  text-align: center;
  margin-bottom: -82px;
  margin-top: 40px;
}
.more-service-widget .service-form-btn .btn-primary {
  background-color: #e12454;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(225, 36, 84, 0.2);
  padding: 24px 50px 22px 84px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  -moz-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.more-service-widget .service-form-btn .btn-primary span {
  background: #fff;
  border-radius: 100%;
  color: #223645;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  left: 5px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 5px;
  transition: 0.3s;
  width: 50px;
}

.img-widget {
  margin-bottom: 50px;
  border: 0 !important;
  padding: 0 !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .more-service-widget {
    padding: 25px;
  }
  .more-service-widget .widget-title {
    font-size: 22px;
  }
}/*# sourceMappingURL=MoreService.css.map */